# 데이콘: 이커머스 고객 세분화 분석 아이디어 경진대회
---

- 해당 대회에 대한 간단한 소개와 인사글은 README.md 파일에 작성되어 있습니다.

- 혹시 보고싶으신 분은 [이 텍스트를 클릭해주세요. 깃허브 링크로 연결됩니다](https://github.com/Randy-archive/ecommerce_seg)

---

안녕하세요, 대회에 참여하게 된 랜디Randy입니다.

RFM이나 Cohort분석에 대해서 이번 대회를 통해 더 깊게 이해해보고자 합니다.

목차는 아래와 같습니다.

# [Index]
---

1. 데이터 살펴보기

2. 오프라인 마케팅 비용이 같은 기간동안 온라인 마케팅 비용 증감에 따른 매출액 변화

In [13]:
# 필요한 라이브러리 불러오기
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 한글 폰트 설정하기
import matplotlib.font_manager as fm
fe = fm.FontEntry(fname = 'MaruBuri-Regular.otf', name = 'MaruBuri')
fm.fontManager.ttflist.insert(0, fe)
plt.rc('font', family='MaruBuri')

# [1. 데이터 살펴보기]

어떤 데이터가 어떤 형식으로 존재하는지 한번 살펴보도록 하겠습니다.

In [14]:
customer_data = pd.read_csv('Customer_info.csv')
discount_data = pd.read_csv('Discount_info.csv')
marketing_data = pd.read_csv('Marketing_info.csv')
onlinesales_data = pd.read_csv('Onlinesales_info.csv')
tax_data = pd.read_csv('Tax_info.csv')

customer = customer_data.copy()
discount = discount_data.copy()
marketing = marketing_data.copy()
onlinesales = onlinesales_data.copy()
tax = tax_data.copy()

print(customer.shape)
customer.head()
# 고객 ID, 성별, 고객지역, 가입기간(단위: 월)

(1468, 4)

        고객ID 성별        고객지역  가입기간
0  USER_1358  남     Chicago    12
1  USER_0190  남  California    43
2  USER_0066  남     Chicago    33
3  USER_0345  여  California    30
4  USER_0683  남  California    49

In [15]:
print(discount.shape)
discount.head()
# 월(month), 제품카테고리, 쿠폰코드, 할인율(%)

(204, 4)

     월    제품카테고리    쿠폰코드  할인율
0  Jan   Apparel  SALE10   10
1  Feb   Apparel  SALE20   20
2  Mar   Apparel  SALE30   30
3  Jan  Nest-USA  ELEC10   10
4  Feb  Nest-USA  ELEC20   20

In [20]:
print(marketing.shape)
marketing.head()
# 날짜, 오프라인 마케팅으로 지출한 비용(달러), 온라인 마케팅으로 지출한 비용(달러)

(365, 3)

           날짜  오프라인비용    온라인비용
0  2019-01-01    4500  2424.50
1  2019-01-02    4500  3480.36
2  2019-01-03    4500  1576.38
3  2019-01-04    4500  2928.55
4  2019-01-05    4500  4055.30

In [17]:
print(onlinesales.shape)
onlinesales.head()
# 고객 고유 ID, 거래 고유 ID, 거래 날짜, 제품 고유 ID, 제품 카테고리, 주문수량,
# 평균금액 (동일 상품이어도 세부 옵션에 따라 가격 상이, 단위 달러)
# 배송료(단위 달러), 쿠폰 적용 상태

(52924, 9)

,고객ID,거래ID,거래날짜,제품ID,제품카테고리,수량,평균금액,배송료,쿠폰상태
0,USER_1358,Transaction_0000,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used
1,USER_1358,Transaction_0001,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used
2,USER_1358,Transaction_0002,2019-01-01,Product_0904,Office,1,2.05,6.5,Used
3,USER_1358,Transaction_0003,2019-01-01,Product_0203,Apparel,5,17.53,6.5,Not Used
4,USER_1358,Transaction_0003,2019-01-01,Product_0848,Bags,1,16.50,6.5,Used

In [18]:
print(tax.shape)
tax.head()
# 제품 카테고리, Goods and Services Tax(%)

(20, 2)

      제품카테고리   GST
0   Nest-USA  0.10
1     Office  0.10
2    Apparel  0.18
3       Bags  0.18
4  Drinkware  0.18

# [2. 오프라인 마케팅 비용이 같은 기간동안 온라인 마케팅 비용 증감에 따른 매출액 변화]
---

`Marketing_info.csv`를 보면 날짜, 오프라인비용, 온라인 비용이 존재합니다.

온라인 비용은 날마다 바뀌지만, 오프라인 비용은 일정 기간동안 동일하다는 것을 발견했습니다.

따라서 오프라인 비용이 동일할 때, 온라인 비용이 증가하고 감소함에 따라 매출액에는 어떤 변화가 있는지 살펴보도록 하겠습니다.

In [95]:
classified_bills = []
'''
오프라인 비용이 똑같은 기간을 하나의 DataFrame으로 구성해서,
classified_bills 리스트에 각각의 DataFrame으로 저장하려고 합니다.
예를 들어 오프라인 비용이 4000달러가 고정인 채로 일주일이 지속된다면
일주일 동안의 데이터는 모두 하나의 DataFrame에 저장되고,

다음 날부터 오프라인 비용이 4500달러가 된다면
새로운 DataFrame에 오프라인비용이 4500인 행들이 쌓이게 됩니다.

날짜가 연속적일때만 하나의 DataFrame으로 삽입되며,
오프라인비용이 같다 할지라도 날짜가 연속적이지 않을 경우
별도의 DataFrame으로 구성합니다.
'''

standard = 0
tmp = pd.DataFrame()
for idx, row in marketing.iterrows():

    if row['오프라인비용'] == marketing.loc[standard, '오프라인비용']:
        tmp = pd.concat([tmp, pd.DataFrame([row])], ignore_index=True)
    else:
        standard = idx
        classified_bills.append(tmp)
        tmp = pd.DataFrame()
        tmp = pd.concat([tmp, pd.DataFrame([row])], ignore_index=True)

classified_bills

[           날짜  오프라인비용    온라인비용
 0  2019-01-01    4500  2424.50
 1  2019-01-02    4500  3480.36
 2  2019-01-03    4500  1576.38
 3  2019-01-04    4500  2928.55
 4  2019-01-05    4500  4055.30
 5  2019-01-06    4500  3796.85
 6  2019-01-07    4500  2579.52,
            날짜  오프라인비용    온라인비용
 0  2019-01-08    5000  2551.38
 1  2019-01-09    5000  3287.83
 2  2019-01-10    5000   515.44
 3  2019-01-11    5000  1757.58
 4  2019-01-12    5000  2435.97
 5  2019-01-13    5000  2449.65
 6  2019-01-14    5000  1920.57,
            날짜  오프라인비용    온라인비용
 0  2019-01-15    3000  1734.68
 1  2019-01-16    3000  3727.61
 2  2019-01-17    3000   417.73
 3  2019-01-18    3000  1312.50
 4  2019-01-19    3000  2753.56
 5  2019-01-20    3000  2073.51
 6  2019-01-21    3000   640.93,
            날짜  오프라인비용    온라인비용
 0  2019-01-22    1000  1049.73
 1  2019-01-23    1000  1356.59
 2  2019-01-24    1000   560.02
 3  2019-01-25    1000  1124.95
 4  2019-01-26    1000   937.58
 5  2019-01-27    1000   687.86
 6  2019-01-28    1000   993.69,
            날짜  오프라인비용    온라인비용
 0  2019-01-29     700   836.13
 1  2019-01-30     700   981.86
 2  2019-01-31     700  1380.14
 3  2019-02-01     700   692.67
 4  2019-02-02     700   770.87
 5  2019-02-03     700  2091.61
 6  2019-02-04     700  2216.98,
             날짜  오프라인비용    온라인비용
 0   2019-02-05    3000  2486.46
 1   2019-02-06    3000  1665.47
 2   2019-02-07    3000   877.20
 3   2019-02-08    3000  1973.27
 4   2019-02-09    3000  2659.34
 5   2019-02-10    3000  2037.41
 6   2019-02-11    3000  2864.69
 7   2019-02-12    3000  2844.64
 8   2019-02-13    3000  2007.32
 9   2019-02-14    3000   830.68
 10  2019-02-15    3000  1738.89
 11  2019-02-16    3000  3784.07
 12  2019-02-17    3000  2107.67
 13  2019-02-18    3000  1586.43,
            날짜  오프라인비용    온라인비용
 0  2019-02-19    3500  1720.16
 1  2019-02-20    3500  2768.28
 2  2019-02-21    3500   727.39
 3  2019-02-22    3500   939.90
 4  2019-02-23    3500  2548.51
 5  2019-02-24    3500  2280.26
 6  2019-02-25    3500  1469.84,
            날짜  오프라인비용    온라인비용
 0  2019-02-26    4000  1951.71
 1  2019-02-27    4000  4349.02
 2  2019-02-28    4000  1817.18
 3  2019-03-01    4000  1880.22
 4  2019-03-02    4000  1258.60
 5  2019-03-03    4000  2066.29
 6  2019-03-04    4000   642.34,
            날짜  오프라인비용    온라인비용
 0  2019-03-05    2500  1153.36
 1  2019-03-06    2500  1827.02
 2  2019-03-07    2500  2335.35
 3  2019-03-08    2500  1918.53
 4  2019-03-09    2500  1768.28
 5  2019-03-10    2500  1294.22
 6  2019-03-11    2500   973.15,
             날짜  오프라인비용    온라인비용
 0   2019-03-12    2000   731.10
 1   2019-03-13    2000  1498.01
 2   2019-03-14    2000  1141.27
 3   2019-03-15    2000  1684.18
 4   2019-03-16    2000  2435.12
 5   2019-03-17    2000  1837.87
 6   2019-03-18    2000   659.57
 7   2019-03-19    2000   982.20
 8   2019-03-20    2000  1542.81
 9   2019-03-21    2000  2365.81
 10  2019-03-22    2000  2523.41
 11  2019-03-23    2000  1736.63
 12  2019-03-24    2000  1984.00
 13  2019-03-25    2000   931.54
 14  2019-03-26    2000  1672.79
 15  2019-03-27    2000  2639.99
 16  2019-03-28    2000  1066.12
 17  2019-03-29    2000  1330.54
 18  2019-03-30    2000   692.02
 19  2019-03-31    2000  2177.75
 20  2019-04-01    2000  4019.93,
            날짜  오프라인비용    온라인비용
 0  2019-04-02    2500  1909.27
 1  2019-04-03    2500  1748.14
 2  2019-04-04    2500  1136.06
 3  2019-04-05    2500  2342.68
 4  2019-04-06    2500  2307.25
 5  2019-04-07    2500  2719.46
 6  2019-04-08    2500  2200.69,
            날짜  오프라인비용    온라인비용
 0  2019-04-09    3000  1740.91
 1  2019-04-10    3000  2143.39
 2  2019-04-11    3000   804.85
 3  2019-04-12    3000  1631.25
 4  2019-04-13    3000  2872.23
 5  2019-04-14    3000  1747.00
 6  2019-04-15    3000  1593.58,
            날짜  오프라인비용    온라인비용
 0  2019-04-16    4000  2168.04
 1  2019-04-17    4000  2526.49
 2  2019-04-18    4000  1476.58
 3  2019-04-19    4000  1754.92
 4  2019-04-20    4000  1330.34
 5  2019-04-21    4000  3078.84
 6  2019-04-22    4000  1608.26,
            날짜  오프라인비용    온라인비용
 0  2019-04-23    3500  3107.11
 1  2019-04-24    3500  1650.62
 2  2019-04-25    3500   620.94
 3  2019-04-26    3500  1363.31
 4  2019-04-27    3500  2056.17
 5  2019-04-28    3500  2019.73
 6  2019-04-29    3500  3549.13,
             날짜  오프라인비용    온라인비용
 0   2019-04-30    3000  1799.66
 1   2019-05-01    3000  1108.88
 2   2019-05-02    3000   732.47
 3   2019-05-03    3000  2406.31
 4   2019-05-04    3000  2407.55
 5   2019-05-05    3000  1177.76
 6   2019-05-06    3000  2100.89
 7   2019-05-07    3000  2271.00
 8   2019-05-08    3000   869.25
 9   2019-05-09    3000  1771.32
 10  2019-05-10    3000  1942.13
 11  2019-05-11    3000  1801.66
 12  2019-05-12    3000  2113.63
 13  2019-05-13    3000  2697.60,
            날짜  오프라인비용    온라인비용
 0  2019-05-14    2500  2151.70
 1  2019-05-15    2500   682.42
 2  2019-05-16    2500  1605.63
 3  2019-05-17    2500  3052.49
 4  2019-05-18    2500  2805.79
 5  2019-05-19    2500  2331.31
 6  2019-05-20    2500  2298.34,
            날짜  오프라인비용    온라인비용
 0  2019-05-21    1000   882.98
 1  2019-05-22    1000   979.08
 2  2019-05-23    1000  1196.03
 3  2019-05-24    1000   670.51
 4  2019-05-25    1000  2565.75
 5  2019-05-26    1000  2752.13
 6  2019-05-27    1000  1976.31,
            날짜  오프라인비용    온라인비용
 0  2019-05-28     500   465.40
 1  2019-05-29     500   670.64
 2  2019-05-30     500  1262.38
 3  2019-05-31     500  1010.30
 4  2019-06-01     500   320.25
 5  2019-06-02     500  1622.46
 6  2019-06-03     500  1230.43,
            날짜  오프라인비용    온라인비용
 0  2019-06-04    3500  2553.18
 1  2019-06-05    3500  3202.10
 2  2019-06-06    3500  1126.87
 3  2019-06-07    3500  1694.16
 4  2019-06-08    3500  1598.46
 5  2019-06-09    3500  2940.10
 6  2019-06-10    3500  1881.94,
            날짜  오프라인비용    온라인비용
 0  2019-06-11    3000  1428.32
 1  2019-06-12    3000  2321.52
 2  2019-06-13    3000  1084.43
 3  2019-06-14    3000  1749.49
 4  2019-06-15    3000  1919.84
 5  2019-06-16    3000  2009.36
 6  2019-06-17    3000  2743.71,
            날짜  오프라인비용    온라인비용
 0  2019-06-18    3500  2289.42
 1  2019-06-19    3500  2617.14
 2  2019-06-20    3500  1019.59
 3  2019-06-21    3500  1473.98
 4  2019-06-22    3500  2217.07
 5  2019-06-23    3500  2283.08
 6  2019-06-24    3500  1975.15,
            날짜  오프라인비용    온라인비용
 0  2019-06-25    1500   956.13
 1  2019-06-26    1500  1478.19
 2  2019-06-27    1500   649.14
 3  2019-06-28    1500  1709.84
 4  2019-06-29    1500  2652.13
 5  2019-06-30    1500  1070.66
 6  2019-07-01    1500  1932.64,
            날짜  오프라인비용    온라인비용
 0  2019-07-02    2000  1108.03
 1  2019-07-03    2000   526.96
 2  2019-07-04    2000  2227.95
 3  2019-07-05    2000  2103.13
 4  2019-07-06    2000  2663.67
 5  2019-07-07    2000  2249.45
 6  2019-07-08    2000  2553.01,
            날짜  오프라인비용    온라인비용
 0  2019-07-09    2500  1870.67
 1  2019-07-10    2500  1240.47
 2  2019-07-11    2500  1128.09
 3  2019-07-12    2500   923.40
 4  2019-07-13    2500  2489.36
 5  2019-07-14    2500  2064.34
 6  2019-07-15    2500  1616.22,
            날짜  오프라인비용    온라인비용
 0  2019-07-16    2000  1163.11
 1  2019-07-17    2000  1331.10
 2  2019-07-18    2000  2408.61
 3  2019-07-19    2000  3444.24
 4  2019-07-20    2000  2097.22
 5  2019-07-21    2000  1253.24
 6  2019-07-22    2000  2521.31,
            날짜  오프라인비용    온라인비용
 0  2019-07-23    2500  1760.92
 1  2019-07-24    2500   850.14
 2  2019-07-25    2500  1169.05
 3  2019-07-26    2500  1627.19
 4  2019-07-27    2500  1151.70
 5  2019-07-28    2500  2425.35
 6  2019-07-29    2500  1353.73,
            날짜  오프라인비용    온라인비용
 0  2019-07-30    1500   478.27
 1  2019-07-31    1500   985.28
 2  2019-08-01    1500   641.12
 3  2019-08-02    1500  2155.96
 4  2019-08-03    1500  2493.64
 5  2019-08-04    1500  2688.98
 6  2019-08-05    1500  2016.04,
            날짜  오프라인비용    온라인비용
 0  2019-08-06    3000  1143.02
 1  2019-08-07    3000  1946.56
 2  2019-08-08    3000  1486.80
 3  2019-08-09    3000  2285.79
 4  2019-08-10    3000  1662.28
 5  2019-08-11    3000  2563.83
 6  2019-08-12    3000  1890.41,
            날짜  오프라인비용    온라인비용
 0  2019-08-13    3500  1846.18
 1  2019-08-14    3500  1984.92
 2  2019-08-15    3500  1122.49
 3  2019-08-16    3500  1692.80
 4  2019-08-17    3500  3352.38
 5  2019-08-18    3500  1696.64
 6  2019-08-19    3500  2574.56,
            날짜  오프라인비용    온라인비용
 0  2019-08-20    2500  1480.23
 1  2019-08-21    2500  1528.10
 2  2019-08-22    2500  1172.96
 3  2019-08-23    2500  1901.56
 4  2019-08-24    2500  2168.34
 5  2019-08-25    2500  1941.38
 6  2019-08-26    2500  1094.77,
            날짜  오프라인비용    온라인비용
 0  2019-08-27    3000  2117.28
 1  2019-08-28    3000  2178.57
 2  2019-08-29    3000  1056.67
 3  2019-08-30    3000  2223.08
 4  2019-08-31    3000  1296.81
 5  2019-09-01    3000  2424.97
 6  2019-09-02    3000  1307.62,
            날짜  오프라인비용    온라인비용
 0  2019-09-03    2500  2006.42
 1  2019-09-04    2500  1255.01
 2  2019-09-05    2500  1201.09
 3  2019-09-06    2500  1292.58
 4  2019-09-07    2500  2504.83
 5  2019-09-08    2500  1362.10
 6  2019-09-09    2500  1749.21,
            날짜  오프라인비용    온라인비용
 0  2019-09-10    3000  2441.62
 1  2019-09-11    3000  1683.99
 2  2019-09-12    3000  1117.36
 3  2019-09-13    3000  1079.34
 4  2019-09-14    3000  1408.06
 5  2019-09-15    3000  2546.67
 6  2019-09-16    3000  1514.85,
            날짜  오프라인비용    온라인비용
 0  2019-09-17    2500  2787.02
 1  2019-09-18    2500  2297.87
 2  2019-09-19    2500  1072.89
 3  2019-09-20    2500  1497.56
 4  2019-09-21    2500  1098.20
 5  2019-09-22    2500  1895.73
 6  2019-09-23    2500  2908.10,
             날짜  오프라인비용    온라인비용
 0   2019-09-24    3000  1310.85
 1   2019-09-25    3000  1736.19
 2   2019-09-26    3000   767.58
 3   2019-09-27    3000  1660.74
 4   2019-09-28    3000  1394.83
 5   2019-09-29    3000  3713.10
 6   2019-09-30    3000  1478.16
 7   2019-10-01    3000  1991.44
 8   2019-10-02    3000   899.05
 9   2019-10-03    3000  2015.98
 10  2019-10-04    3000  2411.39
 11  2019-10-05    3000  1511.94
 12  2019-10-06    3000  2230.76
 13  2019-10-07    3000  2154.78,
            날짜  오프라인비용    온라인비용
 0  2019-10-08    3500  1799.54
 1  2019-10-09    3500   734.31
 2  2019-10-10    3500  3705.50
 3  2019-10-11    3500  1450.93
 4  2019-10-12    3500  2839.32
 5  2019-10-13    3500  1353.34
 6  2019-10-14    3500  2114.35,
            날짜  오프라인비용    온라인비용
 0  2019-10-15    2500  1317.89
 1  2019-10-16    2500  1218.60
 2  2019-10-17    2500  1783.56
 3  2019-10-18    2500  1150.51
 4  2019-10-19    2500  1631.19
 5  2019-10-20    2500  2827.25
 6  2019-10-21    2500  2848.39,
            날짜  오프라인비용    온라인비용
 0  2019-10-22    3500  1900.77
 1  2019-10-23    3500  1153.81
 2  2019-10-24    3500  2330.24
 3  2019-10-25    3500  1416.14
 4  2019-10-26    3500  2374.99
 5  2019-10-27    3500  3271.55
 6  2019-10-28    3500  1691.02,
            날짜  오프라인비용    온라인비용
 0  2019-10-29    2000  1564.09
 1  2019-10-30    2000   780.15
 2  2019-10-31    2000  1251.87
 3  2019-11-01    2000  1224.01
 4  2019-11-02    2000  2437.58
 5  2019-11-03    2000  2294.09
 6  2019-11-04    2000  2478.79,
            날짜  오프라인비용    온라인비용
 0  2019-11-05    3500  2019.94
 1  2019-11-06    3500  2546.60
 2  2019-11-07    3500  1252.63
 3  2019-11-08    3500  2087.49
 4  2019-11-09    3500  2926.69
 5  2019-11-10    3500  2431.73
 6  2019-11-11    3500  2643.34,
            날짜  오프라인비용    온라인비용
 0  2019-11-12    4000  3390.82
 1  2019-11-13    4000  2400.95
 2  2019-11-14    4000   855.19
 3  2019-11-15    4000   737.08
 4  2019-11-16    4000  2716.48
 5  2019-11-17    4000  2964.30
 6  2019-11-18    4000  2825.78,
            날짜  오프라인비용    온라인비용
 0  2019-11-19    2500  1915.27
 1  2019-11-20    2500  1893.03
 2  2019-11-21    2500   484.90
 3  2019-11-22    2500  2071.31
 4  2019-11-23    2500  2972.60
 5  2019-11-24    2500  3875.08
 6  2019-11-25    2500  2643.59,
            날짜  오프라인비용    온라인비용
 0  2019-11-26    3000  1642.31
 1  2019-11-27    3000  2819.58
 2  2019-11-28    3000  1375.26
 3  2019-11-29    3000  4556.93
 4  2019-11-30    3000  1661.61
 5  2019-12-01    3000  2358.10
 6  2019-12-02    3000  1907.19,
            날짜  오프라인비용    온라인비용
 0  2019-12-03    3500  2011.57
 1  2019-12-04    3500   909.19
 2  2019-12-05    3500  2973.53
 3  2019-12-06    3500  1957.58
 4  2019-12-07    3500  3396.14
 5  2019-12-08    3500  2671.90
 6  2019-12-09    3500  2481.51,
            날짜  오프라인비용    온라인비용
 0  2019-12-10    4000  3897.20
 1  2019-12-11    4000  1612.93
 2  2019-12-12    4000  2904.23
 3  2019-12-13    4000  3100.42
 4  2019-12-14    4000  3434.31
 5  2019-12-15    4000  3577.45
 6  2019-12-16    4000  3116.98,
            날짜  오프라인비용    온라인비용
 0  2019-12-17    4500  1658.91
 1  2019-12-18    4500   663.46
 2  2019-12-19    4500  2829.71
 3  2019-12-20    4500  2876.39
 4  2019-12-21    4500  3112.73
 5  2019-12-22    4500  2309.46
 6  2019-12-23    4500  2199.69]